<div class="background-url w-full h-full flex items-center justify-center">
    <form class="flex flex-col login-card gap-5">
        <p class="text-xl font-medium">Please sign in to continue</p>
        <div class="flex flex-col gap-4">
            <input [(ngModel)]="email" class="input" [ngModelOptions]="{standalone:true}" type="text"
                placeholder="Email" [disabled]="isWorking">
            <input [(ngModel)]="password" class="input" [ngModelOptions]="{standalone:true}" type="password"
                placeholder="password" [disabled]="isWorking">
        </div>
        <button (click)="login()" mat-flat-button class="login-btn text-xl" type="submit" [disabled]="isWorking">Sign
            in</button>
    </form>
</div>
