<div class="background-url w-full h-full flex items-center justify-center">
    <div class="flex flex-col login-card gap-5">
        <p class="text-xl font-medium">Please sign up to continue</p>
        <div class="flex flex-col gap-4">
            <input [(ngModel)]="email" class="input" type="text" placeholder="Email" [disabled]="isWorking">
            <input [(ngModel)]="password" class="input" type="password" placeholder="Password" [disabled]="isWorking">
            <input [(ngModel)]="nickname" class="input" type="password" placeholder="Nickname" [disabled]="isWorking">
        </div>
        <button (click)="register()" mat-flat-button class="login-btn text-xl" type="submit" [disabled]="isWorking">Sign
            up</button>
    </div>
</div>
